.containerModal{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;

}
.headerText{
  margin-left: 30px;
}

.bodyText{
  padding: 20px 85px;
}

.bodyModal {
  width: 620px;
  height: 220px;
  background-color: #e74b3b;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}
.headerModal{
  display: flex;
  justify-content: space-between;
  width: 620px;
  height: 70px;
  background-color: #d34537;
  color: white;
  font-size: 22px;
  font-family: "Helvetica Neue", sans-serif;
}

.btnModal{
  display: flex;
  justify-content: center;
}

.btn{
  width: 100px;
  height: 28px;
  margin: 30px;
  background-color: #e74b3b;
  border-radius: 3px;
  text-align: center;
  padding-top: 15px;
}

.btn:hover{
  background-color: #b3372b;
  cursor: pointer;
}

.closeButton{
  cursor: pointer;
  padding-right: 10px;
  padding-top: 5px;
}
